.boxes{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: inline-block;
    vertical-align:top;
}

#x{
    width:100px;
    height:100px;
}
#o {
    width:100px;
    height:100px;
}
